<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69178217402-rcnh1fe8t7d32ongtbvnnspqt5fveqtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69178217402-rcnh1fe8t7d32ongtbvnnspqt5fveqtj</string>
	<key>API_KEY</key>
	<string>AIzaSyBa77qslCvM3nO7GoMNa4ASOeUkoOklHtc</string>
	<key>GCM_SENDER_ID</key>
	<string>69178217402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigbois.Project</string>
	<key>PROJECT_ID</key>
	<string>swift-project-95786</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-project-95786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69178217402:ios:78a0be00a9912d73dd0383</string>
	<key>DATABASE_URL</key>
	<string>https://swift-project-95786.firebaseio.com</string>
</dict>
</plist>